workflows/4_alert_engine.json
{
  "name": "4 - Alert Engine (Hourly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "712ed854-d055-4431-9280-2ae83103f40d",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM kpi_snapshots\nWHERE snapshot_date = CURRENT_DATE\n  AND status = 'breach'\n  AND id NOT IN (\n    SELECT kpi_snapshot_id FROM alerts\n    WHERE kpi_snapshot_id IS NOT NULL AND created_at >= CURRENT_DATE\n  );",
        "options": {}
      },
      "id": "09ff88a5-6f96-48a0-ae45-fdec575bf980",
      "name": "Fetch Breaching KPIs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Feedback DB (Postgres)"
        }
      },
      "notes": "The NOT IN subquery dedupes on kpi_snapshot_id so the same breach isn't re-alerted every hour it stays broken. Adjust to your dedupe strategy if you want re-alerting after N hours."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "return items.map(item => {\n  const k = item.json;\n  const pct = (k.value * 100).toFixed(1);\n  const thresholdPct = (k.threshold * 100).toFixed(1);\n  return {\n    json: {\n      role: k.role,\n      severity: 'High',\n      kpi_snapshot_id: k.id,\n      message: `${k.kpi_name.replace(/_/g, ' ')} is ${pct}% (threshold ${thresholdPct}%).`\n    }\n  };\n});"
      },
      "id": "a021d153-a03f-4452-a56f-29bafb330d66",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerts (role, severity, message, kpi_snapshot_id, created_at)\nVALUES ($1, $2, $3, $4, NOW());",
        "options": {
          "queryReplacement": "={{ $json.role }},{{ $json.severity }},{{ $json.message }},{{ $json.kpi_snapshot_id }}"
        }
      },
      "id": "4423d5df-a2bc-4ff0-bbe8-6f36fd5980b3",
      "name": "Insert Alert Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Feedback DB (Postgres)"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#feedback-alerts"
        },
        "text": "={{ ':rotating_light: [' + $json.severity + '] ' + $json.role + ': ' + $json.message }}"
      },
      "id": "8397d457-2213-472c-bfff-74c7ab0a623e",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        880,
        -100
      ],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Ops Slack"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@yourdomain.com",
        "toEmail": "={{ $json.role === 'QA Lead' ? 'qa-leads@yourdomain.com' : 'course-leads@yourdomain.com' }}",
        "subject": "={{ '[' + $json.severity + '] Feedback KPI Alert' }}",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "id": "a4f5014c-9dc0-4ca4-8a3d-2d1f024c896f",
      "name": "Notify Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        100
      ],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "Alerts Mailbox"
        }
      }
    },
    {
      "parameters": {},
      "id": "63b54ba9-5b13-4dec-92e1-94b506bc42f0",
      "name": "Manual Trigger (Test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        260
      ],
      "notes": "Click to test alert formatting plus the real Postgres write / Slack / email notifications without waiting for the hourly schedule."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Mock rows shaped like \"Fetch Breaching KPIs\" (Postgres) output \u2014 i.e. rows\n// from kpi_snapshots where status = 'breach'.\nreturn [\n  { json: { id: 501, role: 'Course Lead', kpi_name: 'tutor_complaint_rate', value: 0.22, threshold: 0.15, status: 'breach' } },\n  { json: { id: 502, role: 'QA Lead', kpi_name: 'ux_complaint_rate', value: 0.19, threshold: 0.15, status: 'breach' } }\n];"
      },
      "id": "dee2e0b2-509c-4279-905b-85886b74cda9",
      "name": "Mock Breaching KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        260
      ],
      "notes": "Stands in for 'Fetch Breaching KPIs'. Two breaching rows, one per role, so both the Course Lead and QA Lead routing paths get exercised."
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Breaching KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Breaching KPIs": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Insert Alert Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Alert Record": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Test)": {
      "main": [
        [
          {
            "node": "Mock Breaching KPIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Breaching KPIs": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "instanceId": "feedback-pipeline-template"
  }
}